<div class="modal-header">
  <h4 class="modal-title">Select Account!
    <button class="btn m-3 btn-outline-success rounded-circle btn-just-icon" [disabled]="isSubmitting"
    [class.spinner]="isSubmitting" (click)="publishPost()"><i
        class="material-icons">send</i></button>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <!-- [checked]="data.check" -->
  <div *ngFor="let provider of providers;let i = index" class="border-card">


    <div class="card-type-icon with-border">
      <img src="{{provider.image}}" alt="Scott Stevens" class=" img-fluid  rounded " />
    </div>
    <div class="content-wrapper">
      <div class="label-group fixed">
        <p class="title">{{provider.name}}</p>
        <p class="caption">
          <span class="fa "
            [ngClass]="{'fa-linkedin':provider.providerType==='LINKEDIN','fa-twitter':provider.providerType==='TWITTER'}"></span>
        </p>
      </div>
      <div class="min-gap"></div>


    </div>
    <i class="material-icons end-icon">
      <ng-container class="col-lg-3 col-md-4 col-xs-4 col-sm-4  justify-content-center align-self-center"
        *ngTemplateOutlet="(selectedProvidersIds?.length>0)?checkSelectedTemp:addTemplate;context:{provider: provider}">

      </ng-container>
    </i>



  </div>

  <ng-template #checkSelectedTemp let-provider="provider">
    <div
      class="custom-control custom-checkbox col-lg-3 col-md-4 col-xs-4 col-sm-4  justify-content-center align-self-center">
      <ng-container
        *ngTemplateOutlet="isSelectedProvider(provider?.id)?removeTemplate:addTemplate;context:{provider: provider}">
      </ng-container>
    </div>
  </ng-template>

  <ng-template #addTemplate let-provider="provider">
    <button class="btn m-3 btn-outline-success rounded-circle btn-just-icon" [disabled]="isSubmitting"
      [class.spinner]="isSubmitting" (click)="addProvider(provider)"><i class="material-icons">add</i></button>
  </ng-template>

  <ng-template #removeTemplate let-provider="provider">
    <button class="btn m-3 btn-outline-danger rounded-circle btn-just-icon" [disabled]="isSubmitting"
      [class.spinner]="isSubmitting" (click)="removeProvider(provider)"><i class="material-icons">remove</i></button>
  </ng-template>


  <div *ngIf="totalElements!==0" class="col text-center">
    <button class="btn btn-default" (click)="loadMore()">load more</button>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" ngbAutofocus
    (click)="activeModal.close('Close click')">Close</button>
</div>