<h2 class="heading text-center">All Accounts</h2>

<h5 class="mt-4">Add account

  <button class="btn px-4 btn-social btn-twitter" [disabled]="isSubmitting" [class.spinner]="isSubmitting"
    (click)="twitterLogin()">
    <span class="fa fa-twitter"></span> Twitter
  </button>

  <button class="btn px-4 btn-social btn-linkedin" [disabled]="isSubmitting" [class.spinner]="isSubmitting"
    (click)="linkedLogin()">
    <span class="fa fa-linkedin"></span> LinkedIn
  </button>

</h5>
<div class="card">
  <div class="card-body table-responsive">

    <table class="table">

      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Created At</th>
          <th scope="col">Expire At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <div *ngIf="isLoading" class="loading-section d-flex justify-content-center align-items-center">
          <div class="spinner-border spinner-border-lg text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <tr *ngFor="let provider of pageProvider?.providers;let i=index;">
          <th scope="row">{{provider.name}}</th>
          <td>
            <span class="fa "
              [ngClass]="{'fa-linkedin':provider.providerType==='LINKEDIN','fa-twitter':provider.providerType==='TWITTER'}"></span>
          </td>
          <td>
            {{ provider.createdAt | timeAgo }}
          </td>
          <td>
            {{provider.expireAt}}
          </td>
          <td>
            <button class="btn  btn-just-icon btn-round btn-light" (click)="removeProvider(provider?.id,i)"><i
                class="material-icons">delete</i></button>
          </td>
        </tr>

      </tbody>
    </table>

    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pageConfig.totalItems"
      [maxSize]="pageConfig.itemsPerPage" [pageSize]="pageConfig.itemsPerPage" (pageChange)="pageChanged($event)"
      [(page)]="pageConfig.currentPage" aria-label="Default pagination">

    </ngb-pagination>

  </div>
</div>
<p class="d-block text-right text-muted"> for more info:
  <a href="http://l-lin.github.io/angular-datatables/" target="_blank">Angular Datatables
    <i class="material-icons" style="font-size: .9rem">launch</i>
  </a>
</p>